.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.contactimage{
  background-image: url('./images/image3.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
.nightclubimage{
  background-image: url('./images/ttt.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container-section{
  width: 100%;
  height: 100%;
}